Default
缺省值
.gitignore.swp
.cproject
.project
.settings
Config.cpp
Debug.h
install/
autom4te.cache/
config.guess
config.status
config.sub
depcomp
install-sh
libtool

ltmain.sh
missing
stamp-h1

*.Po
Debug.h
install/
*.a
*.o
Makefile
config.h
config.h.in
config.log
claims.log

conf
build
Build
*.dat*

.history
ar-lib
config.h.in~
